<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{{ family }}</title>

    <style>
      .guanine {
        background-color: rgb(255, 192, 203);
      }
      .uracil {
        background-color: rgb(255, 247, 61);
      }
      .adenine {
        background-color: rgb(118, 208, 233);
      }
      .cytosine {
        background-color: rgb(131, 236, 149);
      }
      .mature {
        background-color: green;
      }
      .table td {
        padding: 0 5px;
      }
      .table {
        font-size: 11px;
      }
      .bit_score {
        cursor: pointer;
      }
    </style>

  </head>
  <body>

    <div class="container-fluid" style="margin-bottom: 10px;">
      <h1>{{ family }}</h1>

      <!-- <button class="btn btn-outline-success btn-sm" onclick="document.getElementById('gathering-cutoff').scrollIntoView({behavior: 'smooth'})">✅ Gathering cutoff</button>
      <button class="btn btn-outline-danger btn-sm" onclick="document.getElementById('best-reversed-hit').scrollIntoView({behavior: 'smooth'})">🛑 Best reversed</button> -->
      <button class="btn btn-outline-dark btn-sm" id="toggle-columns">🎨 Toggle colours</button>
      <span class="text-muted">A nucleotide is <span class="text-success">green</span> if it occurs in the seed or <span class="text-danger">red</span> otherwise</span>.
      <span class="text-success mature">Mature</span> nucleotides are highlighted in seed sequences.

      <p class="text-muted">
        Hover over <em>accession</em>, <em>bit score</em> or <em>taxonomic string</em> to see more information
      </p>

      <div>
        <input type="range" id="ga_threshold" name="ga_threshold"
               value="25" min="25" max="120" step="1">
        <label for="ga_threshold">Gathering threshold</label>
        <span id="ga-label">25</span> bits
        <button class="btn btn-outline-primary btn-sm" id="set-threshold">Set threshold</button>
        <button class="btn btn-outline-dark btn-sm" id="reset-threshold">Reset threshold</button>
        <span class="text-muted">Click on bit score to set threshold or drag slider and click Set threshold</span>
      </div>

    </div>

    <table class="table table-striped table-borderless table-hover table-sm table-responsive">
      <thead>
        <tr>
          <td><strong>Seed consensus</strong></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-monospace alignment" style="display: inline-flex; font-weight: bold;">
            {% for nt in rf_line %}
              {% if nt.upper() == 'A' %}
                <span class="adenine-inactive">A</span>
              {% elif nt.upper() == 'G' %}
                <span class="guanine-inactive">G</span>
              {% elif nt.upper() == 'C' %}
                <span class="cytosine-inactive">C</span>
              {% elif nt.upper() == 'U' %}
                <span class="uracil-inactive">U</span>
              {% else %}
                <span>{{ nt }}</span>
              {% endif %}
            {% endfor %}
          </td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Consensus structure</td>
          <td></td>
          <td>&nbsp;</td>
          <td class="text-monospace" style="display: inline-flex;">
          {% for ss_symbol in ss_cons_split %}
            <span>{{ ss_symbol }}</span>
          {% endfor %}
          </td>
          <td>&nbsp;</td>
        </tr>
    {% for species_row, outlist_row, big_drop in zip(species, outlist, big_drops) %}
      {% if species_row is string and 'CURRENT GA' in species_row %}
        <tr class="table-success" id="gathering-cutoff">
          <td colspan="5" class="lead"><strong>✅ {{ species_row }}</strong><td>
        </tr>
      {% elif species_row is string and 'BEST REVERSED in species_row' %}
        <tr class="table-danger" id="best-reversed-hit">
          <td colspan="5" class="lead"><strong>🛑 {{ species_row }}</strong><td>
        </tr>
      {% else %}
      <tr>
        <td style="white-space: nowrap;" class="small" data-toggle="tooltip" data-placement="right" title="{{ outlist_row.description }}">
          {% if species_row.name.startswith('URS00') %}
            <a href="https://rnacentral.org/rna/{{ outlist_row.urs_taxid }}" target="_blank">{{ species_row.name }}</a> ({{ outlist_row.str }})
          {% else %}
            <a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ species_row.name }}?report=docsum&log$=seqview" target="_blank">{{ species_row.name }}/{{ outlist_row.start }}-{{ outlist_row.end }}</a> ({{ outlist_row.str }})
          {% endif %}
        </td>
        <td data-toggle="tooltip" data-placement="top" title="{% if big_drop %} ⚠️ Bit score drop > 10 ⚠️ {% endif %} E-value {{ outlist_row.evalue }}" {% if big_drop %} class="table-danger"{% endif %}>
          <strong class="bit_score">{{ species_row.bits }}</strong>
        </td>
        {% if species_row.seqLabel == 'SEED' and outlist_row.str != '-' %}
          <td><span class="badge badge-success">{{ species_row.seqLabel }}</span></td>
        {% elif species_row.seqLabel == 'SEED' and outlist_row.str == '-' %}
          <td data-toggle="tooltip" data-placement="top" title="⚠️ Reversed match ⚠️"><span class="badge badge-danger" >{{ species_row.seqLabel }}</span></td>
        {% else %}
          <td class="text-muted">{{ species_row.seqLabel }}</td>
        {% endif %}
        <td class="text-monospace" style="display: inline-flex; {% if species_row.seqLabel == 'SEED' %}font-weight: bold;{% endif %}">
          {% if outlist_row.seq_name in align %}
            {% for nt in align[outlist_row.seq_name].sequence_split %}
              {% if nt == 'A' %}
                <span class="adenine-inactive {% if nt in seed_nts[loop.index0] %}text-success{% else %}text-danger{% endif %} {% if outlist_row.urs_taxid in mature_mirnas and mature_mirnas[outlist_row.urs_taxid][loop.index0] == 1 %}mature{% endif %}">A</span>
              {% elif nt == 'G' %}
                <span class="guanine-inactive {% if nt in seed_nts[loop.index0] %}text-success{% else %}text-danger{% endif %} {% if outlist_row.urs_taxid in mature_mirnas and mature_mirnas[outlist_row.urs_taxid][loop.index0] == 1 %}mature{% endif %}">G</span>
              {% elif nt == 'C' %}
                <span class="cytosine-inactive {% if nt in seed_nts[loop.index0] %}text-success{% else %}text-danger{% endif %} {% if outlist_row.urs_taxid in mature_mirnas and mature_mirnas[outlist_row.urs_taxid][loop.index0] == 1 %}mature{% endif %}">C</span>
              {% elif nt == 'U' %}
                <span class="uracil-inactive {% if nt in seed_nts[loop.index0] %}text-success{% else %}text-danger{% endif %} {% if outlist_row.urs_taxid in mature_mirnas and mature_mirnas[outlist_row.urs_taxid][loop.index0] == 1 %}mature{% endif %}">U</span>
              {% else %}
                <span>{{ nt }}</span>
              {% endif %}
            {% endfor %}
          {% else %}
            &nbsp;
          {% endif %}
        </td>
        <td style="white-space: nowrap;">
          <span data-toggle="tooltip" data-placement="left" title="{{ species_row.species }}">
            {{ get_emoji(species_row.taxString) }}
            <a class="small" href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ species_row.ncbiId }}" target="_blank">{{ species_row.taxString }}</a>
          </span>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
      </tbody>
    </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>

    rfmake = function(threshold){
      // hide alignment rows below threshold
      var show_up_to = null;
      $("tr").each(function(row_index) {
        $this = $(this);
        var td = $this.find(".bit_score");
        if (td.length > 0) {
          var bit_score = parseFloat($(td).html());
          if (bit_score && bit_score < threshold) {
            $this.hide();
          } else {
            $this.show();
            show_up_to = row_index;
          }
        }
      });

      // hide empty alignment columns
      var alignment_length = $($("tr>td.text-monospace")[1]).find('span').length;
      for (i = 1; i <= alignment_length; i++) {
        var column = $('tr>td.text-monospace>span:nth-child(' + i + ')');
        var all_gaps = 0;
        for (j = 0; j <= show_up_to; j++) {
          if (column[j].innerHTML.match(/\w/)) {
            all_gaps = 0;
            break;
          }
          all_gaps = 1;
        }
        if (all_gaps) {
          column.hide();
        } else {
          column.show();
        }
      }
    };

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()

      $('#ga_threshold').on('change input', function() {
          $('#ga-label').html($('#ga_threshold').val());
      });

      $('#set-threshold').on('click', function() {
          rfmake(parseFloat($('#ga_threshold').val()));
      });

      $('#reset-threshold').on('click', function() {
          var threshold = 25;
          rfmake(threshold);
          $('#ga-label').html(threshold);
          $('#ga_threshold').val(threshold);
      });

      $('.bit_score').on('click', function(){
          var threshold = $(this).html();
          rfmake(parseFloat(threshold));
          $('#ga-label').html(threshold);
          $('#ga_threshold').val(threshold);
      });

      $('#toggle-columns').on('click', function(e) {
        if ($('.uracil').length) {
          $('.adenine').toggleClass("adenine adenine-inactive");
          $('.guanine').toggleClass("guanine guanine-inactive");
          $('.cytosine').toggleClass("cytosine cytosine-inactive");
          $('.uracil').toggleClass("uracil uracil-inactive");
        } else {
          $('.adenine-inactive').toggleClass("adenine-inactive adenine");
          $('.guanine-inactive').toggleClass("guanine-inactive guanine");
          $('.cytosine-inactive').toggleClass("cytosine-inactive cytosine");
          $('.uracil-inactive').toggleClass("uracil-inactive uracil");
        }
        e.preventDefault();
      });

    });

    </script>

  </body>
</html>
